docker-fs-root/home/sc-edb/build-aux/code_*.deb
docker-fs-root/home/sc-edb/build-aux/eos-v*
docker-fs-root/home/sc-edb/build-aux/eos-build-depends/*.tar.gz
docker-fs-root/home/sc-edb/build-aux/eos-build-depends/*.tar.bz2
docker-fs-root/home/sc-edb/build-aux/eos-build-depends/*.tgz
